body {
    height: 100%;
    overflow-y: hidden;
    background-color: #f8f8f8;
  }
  
  
  .site-layout {
    height: 100vh;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  
  .content {
    padding: 24px;
  }