.ant-page {
  margin: 2rem 0;
  padding: 1.2rem;
  background: #fff;

  .page-head {
    margin-bottom: 1rem;

    .btn-group {
      width: 200px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.load-page {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);

  min-height: calc(100% - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
}
